name: CI
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

jobs:

  build:
    name: build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      BUILDER_NAME: "GitHub Actions"
      BUILDER_EMAIL: noreply@actions.github.com

    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
      id: go

    - name: Check out code
      uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name: Install dependencies (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        choco install -y make sed
        choco install -y pandoc

    - name: Install dependencies (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        brew install pandoc
        
    - name: Install dependencies (Linux/Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt update
        sudo apt install -y pandoc

    - name: Build and run unit tests
      run: make clean all test
      shell: bash

    - name: Run checkmake on Makefile
      run: ./checkmake Makefile
      shell: bash

