name: checkmake  container image

on:
  push:
    tags:
      - v*
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*


permissions:
  contents: read


jobs:
  ImageBuild:
    runs-on: ubuntu-latest
    env:
      BUILDER_NAME: "GitHub Actions"
      BUILDER_EMAIL: noreply@actions.github.com

    steps:

      - uses: actions/checkout@v6
      - name: Build the container image
        run: make CONTAINER_CMD=docker  image-build
  # build and push images to quay.io - only on push, not on PRs.
  ImagePush:
    runs-on: ubuntu-latest
    if: github.event_name=='push'
    env:
      BUILDER_NAME: "GitHub Actions"
      BUILDER_EMAIL: noreply@actions.github.com

    steps:
      - uses: actions/checkout@v6
      - name: Build the container image
        run: make CONTAINER_CMD=docker image-build
      - name: log in to quay.io
        run: echo "${{ secrets.QUAY_PASS }}" | docker login -u "${{ secrets.QUAY_USER }}" --password-stdin quay.io
      - name: Push  the container image to quay.io
        run: echo "make CONTAINER_CMD=docker  image-push"
